<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Task</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app='OrdersApp'>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <header class="container" ng-controller="OrdersController">
    <div class="row">
      <h2>Restaurant Order</h2>
    </div>
    <div class="row">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="goTo('/new_meal')">Add meal</button>
        <button type="button" class="btn btn-default" ng-click="goTo('/new_order')">Add order</button>
        <button type="button" class="btn btn-default">Reports</button>
      </div>
    </div>
  </header>
  <div ng-view></div>
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js scripts/plugins.js -->
  <!-- endbuild -->
  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- <script src="scripts/app.config.js"></script> -->
  <!-- endbuild -->
</body>

</html>
